<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Document</title>
</head>
<body>
    <div class = "main-container">
        <h1>NASA's Astronomy Picture of the Day</h1>
        <div class = "APOD-header">
            <img src = "<%= APOD.hdurl %>" class = "APOD-img" alt = "Astronomy Picture of the Day">
            <div>
                <h2><%= APOD.title%></h2>
            </div>
            <p><%= APOD.explanation%></p>
        </div>
    </div>
    <div class ="Photo-galary">
        <form action = "/gallery" method = "POST" class = "search-form">
            <label for="img">Search for images:</label>
            <input type="text" id="img" name="img" placeholder="Enter a keyword" required>
            <button type="submit">Submit</button>
        </form> 
        <% if (IMG.length === 0) {%>
            <div class = "gallery">
                <p>No images to display. Please search for images.</p>
            </div>
        <% } else {%>
            <div class = "gallery">
                <div class = "gallery-img">
                    <% for (var i = 0; i < IMG.length; i++){ %>
                        <img src = "<%= IMG[i] %>"/>
                    <% } %>
                </div>
            </div>
        <% } %>
    </div>

    <footer class="site-footer">
    <p>&copy; 2025 Devon | <a href="https://github.com/devondough926/NASA-viewer" target="_blank">GitHub</a></p>
    </footer>
    <% if (searched && IMG.length === 0) { %>
    <script>
        alert('No images found for your search. Please try another keyword. (e.g. "galaxy", "planet", etc.)');
    </script>
    <% } %>

</body>
</html>